/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Work+Sans:ital,wght@0,400;0,700;1,600&display=swap');

* {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}